<div class="container mt-2">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <mat-card style="height: 400px;">
            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="pieUsers" [gradient]="gradient"
                [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
                legendTitle="Users">
            </ngx-charts-pie-chart>
        </mat-card>
    </div>
</div>
<div class="container mt-2 mb-2">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
        <mat-card style="height: 450px;">
            <mat-card-content>
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="barUsers" [gradient]="gradient"
                    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical>
            </mat-card-content>
        </mat-card>
    </div>

</div>